<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="fragment/common::headFragment">
</head>

<body>

	<script>
		setInterval(function(){
		    $.ajax({ url: "/jewel/api/v1/jewelry", success: function(data){
		        
		    	console.log("jewel data updated. updating ");
		    	console.log(data);
		    	
		    	// not enough time for long polling or websocket, using simple polling
		    	// should update table data
		    	
		    }, dataType: "json"});
		}, 10000);
	</script>
	
	<div class="container">
		<section th:substituteby="fragment/common::navbarFragment"></section>
		
		<div class="row-fluid" >
		
			<div class="span12">
					
				<div class="row-fluid">		
					<div class="span12 well">
						
						<div th:if="${jewelryAddSuccessful}" class="alert alert-success">
							<p>Jewelry successfully added.</p>
						</div>

						<h3>All Jewelries</h3>

						<table class="table table-striped">
							<thead>
								<tr>
									<th>#</th>
									<th>Image</th>
									<th>Jewelry Type</th>
									<th>Weight</th>
									<th>Price</th>
									<th>Notes</th>									
								</tr>
							</thead>
							<tbody>
							
								<tr th:each="jewel : ${jewelries}">
									<td th:text="${jewel.id}"></td>
									<td><img th:src="${jewel.imagePath}"></img></td>
									<td th:text="${jewel.type}"></td>
									<td th:text="${jewel.weight}"></td>
									<td th:text="${jewel.price}"></td>
									<td th:text="${jewel.notes}"></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
				
			</div>
			
		</div>
		
		<footer th:substituteby="fragment/common::footer"></footer>
	</div>

</body>
</html>