<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="../../../assets/css/bootstrap.min.css" th:href="@{/assets/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="../../../assets/css/token-input.css" th:href="@{/assets/css/token-input.css}" />
	<link rel="stylesheet" href="../../../assets/css/token-input-facebook.css" th:href="@{/assets/css/token-input-facebook.css}" />
	
	<script src="../../../assets/js/jquery-1.8.0.min.js" th:src="@{/assets/js/jquery-1.8.0.min.js}" ></script>	
	<script src="../../../assets/js/bootstrap-dropdown.js" th:src="@{/assets/js/bootstrap-dropdown.js}" ></script>
	<script src="../../../assets/js/bootstrap-alert.js" th:src="@{/assets/js/bootstrap-alert.js}" ></script>
	<script src="../../../assets/js/jquery-ui-1.8.23.custom.min.js" th:src="@{/assets/js/jquery-ui-1.8.23.custom.min.js}" ></script>
	<script src="../../../assets/js/jquery.tokeninput.js" th:src="@{/assets/js/jquery.tokeninput.js}" ></script>
</head>
<body>

	<div class="container">
		<section th:substituteby="fragment/common::navbarFragment"></section>
		
		<div class="row">
		
		<div class="span10 offset1">
			<h2>Simple Server-Backed Search</h2>
		    <div>
		        <input type="text" id="demo-input" name="blah" />
		        <input type="button" value="Submit" />
		        <script type="text/javascript">
			        $(document).ready(function() {
			        	$("#demo-input").tokenInput("http://localhost:8080/ItJobBoard/search/locationAutoComplete", {
			                theme: "facebook"
			            });
			        });
		        </script>
		    </div>
		</div>
						
			
		</div>
		
		<footer th:substituteby="fragment/common::footer"></footer>
	</div>

</body>
</html>