<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="fragment/common::headFragment">
</head>

<body>

	<div class="container">
		<section th:substituteby="fragment/common::navbarFragment"></section>
		
		<div class="row">
			
			<div class="span8 offset2">
				
						
				<form class="form-horizontal well" th:action="@{/j_spring_security_check}" method="post">
			
					<legend>Sign In</legend>
					<div id="signinError" th:if="${signinError}" class="alert alert-error">
						<a class="close" data-dismiss="alert" href="#">&times;</a>
						Wrong Username/Email and password combination.
					</div>
					
					<div class="control-group">
						<label class="control-label" for="j_username">Email</label>
						<div class="controls">
							<input type="text" name="j_username" id="j_username" placeholder="Email" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label" for="j_password">Password</label>
						<div class="controls">
							<input type="password" name="j_password" id="j_password" placeholder="Password" />
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<label class="checkbox">
								<input type="checkbox" /> Remember me
							</label>
							<button type="submit" class="btn-large btn-primary">Sign in</button>
							<p>
								<br />
								<a href=""><img src="../assets/img/facebook_signin_default.png" th:src="@{/assets/img/facebook_signin_default.png}"/></a>
								<a href=""><img src="../assets/img/twitter_signin_default.png" th:src="@{/assets/img/twitter_signin_default.png}"/></a>
							</p>
						</div>
					</div>
					

							
				</form>

				<!--  
				<form class="well" th:action="@{/j_spring_security_check}" method="post">
					<fieldset>
					<legend>Sign In</legend>
					
							<div id="signinError" th:if="${signinError}" class="alert alert-error">
								<a class="close" data-dismiss="alert" href="#">&times;</a>
								Wrong Username/Email and password combination.
							</div>
												
							<div class="control-group">
								<div class="controls">					
									<div class="input-prepend">
										<span class="add-on"><i class="icon-envelope"></i></span>
										<input class="span7" id="j_username" name="j_username" type="text" placeholder="Email Address" />
									</div>
								</div>
							</div>
							
							<div class="control-group">
								<div class="controls">					
									<div class="input-prepend">
										<span class="add-on"><i class="icon-cog"></i></span>
										<input class="span7" id="j_password" name="j_password" type="password" placeholder="Password" />
									</div>
								</div>
							</div>
							
							<button type="submit" class="btn btn-primary">Sign In</button>
							
					</fieldset>
				</form>
				-->
				
				
			</div>				
		
			
		</div>
		
		<footer th:substituteby="fragment/common::footer"></footer>
	</div>

</body>
</html>