<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">

<head th:substituteby="fragment/common::headFragment">
</head>

<body>

	<div class="container">
		<section th:substituteby="fragment/common::navbarFragment"></section>
		
		<div class="row" >
		

			<div class="span10 offset1">
				

				
				<div th:if="${signupSuccess}" class="alert alert-success">
					<p>Successfully registered. A confirmation email has been sent. Your account will be activated after confirming your email.</p>
				</div>
				
				<div th:if="${passNotMatchError}" class="alert alert-danger">
					<p>Given passwords do not match. Please check the passwords.</p>
				</div>
				
				<div th:if="${duplicateEmailError}" class="alert alert-danger">
					<p>Already registered!</p>
				</div>	
				
				<form class="form-horizontal well" th:action="@{/user/register}" th:object="${userRegistration}" method="post" enctype="multipart/form-data"> 
					<fieldset>
						<legend>
							Sign Up For Latest Jewelry Information
						</legend>
						
						<!--   EMAIL   -->
						<div class="control-group" th:unless="${#fields.hasErrors('email')}">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="email" id="email" />
							</div>
						</div>

						<!--   EMAIL ERROR   -->
						<div class="control-group error" th:if="${#fields.hasErrors('email')}">
							<label class="control-label" for="email">Email</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="email" id="email" />
								<span th:if="${#fields.hasErrors('email')}" class="help-inline">Please provide a valid email address</span>
							</div>
						</div>
				        
						<!--   PASSWORD   -->
				        <div class="control-group" th:unless="${#fields.hasErrors('password')}">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" name="password" id="password" />
							</div>
						</div>
						
						<div class="control-group error" th:if="${#fields.hasErrors('password')}">
							<label class="control-label" for="password">Password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" name="password" id="password" />
								<span th:if="${#fields.hasErrors('password')}" class="help-inline">Please enter at least 6 characters</span>
							</div>
						</div>
				        
				        <!--   CONFIRM PASSWORD   -->
				        <div class="control-group" th:unless="${#fields.hasErrors('confirmPassword')}">
							<label class="control-label" for="confirmPassword">Confirm Password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" name="confirmPassword" id="confirmPassword" />
							</div>
						</div>
						
						<div class="control-group error" th:if="${#fields.hasErrors('confirmPassword')}">
							<label class="control-label" for="confirmPassword">Confirm Password</label>
							<div class="controls">
								<input type="password" class="input-xlarge" name="confirmPassword" id="confirmPassword" />
								<span th:if="${#fields.hasErrors('confirmPassword')}" class="help-inline">Please enter at least 6 characters</span>
							</div>
						</div>
						
						<!--   FIRST NAME   -->
						<div class="control-group" th:unless="${#fields.hasErrors('firstName')}">
							<label class="control-label" for="firstName">First Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="firstName" id="firstName" />
							</div>
						</div>
						
						<div class="control-group error" th:if="${#fields.hasErrors('firstName')}">
							<label class="control-label" for="firstName">First Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="firstName" id="firstName" />
								<span th:if="${#fields.hasErrors('firstName')}" class="help-inline">Please enter your first name</span>
							</div>
						</div>
						
						<!--   LAST NAME   -->
						<div class="control-group" th:unless="${#fields.hasErrors('lastName')}">
							<label class="control-label" for="lastName">Last Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="lastName" id="lastName" />
							</div>
						</div>
						
						<div class="control-group error" th:if="${#fields.hasErrors('lastName')}">
							<label class="control-label" for="lastName">Last Name</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="lastName" id="lastName" />
								<span th:if="${#fields.hasErrors('lastName')}" class="help-inline">Please enter your last name</span>
							</div>
						</div>
 
 						<!--   PHONE NUMBER   -->           
            			<div class="control-group" th:unless="${#fields.hasErrors('phone')}">
							<label class="control-label" for="phone">Phone Number</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="phone" id="phone" />
							</div>
						</div>
						
		      			<div class="control-group error" th:if="${#fields.hasErrors('phone')}">
							<label class="control-label" for="phone">Phone Number</label>
							<div class="controls">
								<input type="text" class="input-xlarge" name="phone" id="phone" />
								<span th:if="${#fields.hasErrors('phone')}" class="help-inline">Please enter a valid phone number</span>
							</div>
						</div>
						
						
						<div class="form-actions">
							<button type="submit" class="btn-large btn-primary">Sign Up</button>
						</div>
					</fieldset>
					
					
				</form>
						
					</div>
			
		</div>
		
		<footer th:substituteby="fragment/common::footer"></footer>
	</div>

</body>
</html>